.breadcrumb:before {
  color: #0d47a1;
}

.margin-left {
  margin-left: 1rem;
}

nav.clean {
  background: none;
  box-shadow: none;
}

.auth {
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 10rem;
}
