.breadcrumb:before {
  color: #0d4000;
}

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

nav.clean {
  background: none;
  box-shadow: none;
}

.auth {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
}

.profile {
  display: inline-block;
  vertical-align: middle;
  height: 3rem;
  width: auto;
}
